<h1><%= @place["name"]%></h1>

<h2>Posts</h2>

<p>
    <% for post in @posts %>
        <%= post["title"]%> </h2>
        <%= post["posted_on"]%> </h2>
        <%= post["description"]%> </h3>
    <% end %>
</p>>

<p>
    <a href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>
</p>

<p>
    <a href="/places">Back to All Places</a>
</p>
